DATABASE_URL="postgresql://neondb_owner:npg_rMq4YeAlvWs7@ep-jolly-fire-a1ud1aw6-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
AUTH_SECRET="c522b656e99550e484a482700a3a32fb1e795921f06025f44a52eb170f86a2e7"
NEXTAUTH_SECRET="ab3332c96647c31b8d799142fd84db9575a9542445e3bc3c594450721a68851f"
AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
PUSHER_APP_ID=""
PUSHER_KEY=""
PUSHER_SECRET=""
PUSHER_CLUSTER=""
NEXT_PUBLIC_PUSHER_KEY=""
NEXT_PUBLIC_PUSHER_CLUSTER=""